.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login img {
  width: 300px;
  height: 100px;
  object-fit: contain;
}
.login_container {
  background-color: var(--black-secondary);
  padding: 2rem;
  margin: 0 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.login_container button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.login_container button:focus {
  outline: none;
}
.login_container p {
  margin-bottom: 0;
}
.login_container p:last-child {
  background-color: lightcoral;
  color: darkred;
  padding: 0.35rem 1rem;
  border-radius: 0.25rem;
}

@media only screen and (max-width: 520px) {
  .login img {
    width: 200px;
  }
  .login_container {
    width: 80vw;
  }
  .login_container p:last-child {
    font-size: 0.8rem;
  }
  .text {
    font-size: 0.8rem;
    text-align: center;
  }
}
