.app_container {
  display: flex;
  /* justify-content: flex-start;
  height: 90vh; */
  margin-top: 10vh;
}

.app_main {
  width: 80% !important;
  /* background-color: red; */
}

@media screen and (max-width: 1224px) {
  .app_main {
    width: 90% !important;
  }
}
